<!-- Modal -->
  <div id="myModal" class="modal fade modal-fullscreen force-fullscreen" role="dialog">
    
    <div class="modal-dialog">

      <!-- Modal content-->

      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>

        <div class="modal-body">

        <!--Carousel Start -->

          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="true">
            
            <div class="carousel-inner">      
          
              {% for post in site.posts %}

                <div class="item">
                  
                  <picture>
                    <source media="(orientation: landscape)" srcset="{{ post.image }}" />
                    <img src="{{ post.image-card }}" alt="my img" class="fillImg" />
                  </picture>

                </div>

              {% endfor %}

            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

          </div>

        </div>
        
      </div>

    </div>
  </div>


  <script type="text/javascript">
    var x = document.getElementsByClassName("item").length;
    console.log(x);
    var allItems = document.getElementsByClassName("item");
    allItems[0].className += ' active'
  </script>