---
layout: default
---

<div class="home">

  <!--<h1 class="page-heading">Posts</h1>-->
  
  {{ content }}

    <div class="container">

    {% for post in site.posts %}


      <a href="#myCarousel"  data-slide-to="{{ forloop.index0 }}"> 
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">     
          <div class="imgContainer">

            <div class="cardHeight">
              <img class="card" src="{{post.image-card}}" data-toggle="modal" data-target="#myModal" style="object-fit: contain; margin: auto;">
            </div>

          </div>
          <div class="cardTitle">
                
                  <h2 class="noPadding noMargin">
                    <span class="post-meta">{{ post.category }}</span><br>
                    {{ post.title | escape }}
                  </h2>
              
              </div>
        </div>
      </a>

<!--
              <div class="cardTitle">
                
                  <h2 class="noPadding noMargin">
                    <span class="post-meta">{{ post.category }}</span><br>
                    {{ post.title | escape }}
                  </h2>
              
              </div>
-->      




    {% endfor %}

    </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="true">
          
          <div class="carousel-inner">      
        
            {% for post in site.posts %}

              <div class="item">
                <picture>
                  <source media="(orientation: landscape)" srcset="{{ post.image }}" />
                  <img src="{{ post.image-card }}" alt="my img" class="fillImg" />
                </picture>
              </div>

            {% endfor %}

            <script type="text/javascript">
              var x = document.getElementsByClassName("item").length;
              console.log(x);
              var allItems = document.getElementsByClassName("item");
              allItems[0].className += ' active'

            </script>

          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

      </div>

    </div>
  </div>

</div>



<!-- BACKUPZ -->
<!--
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      -->